/* 메뉴 항목(li)에서 기본 리스트 스타일 제거 */
.menu li {
    list-style-type: none;
}

/* 메뉴 링크(a)에 대한 스타일 지정 */
.menu li a {
    display: block;
    /* 블록 요소로 변환하여 전체 영역 클릭 가능 */
    width: 300px;
    /* 기본 너비 설정 */
    height: 20px;
    /* 높이 설정 */
    padding: 10px;
    /* 내부 여백 설정 */
    margin-bottom: 2px;
    /* 항목 간 간격 조정 */
    background: #abc;
    /* 배경색 설정 */
    text-indent: 10px;
    /* 텍스트 들여쓰기 */
    transition: width 1s, color 1s;
    /* 부드러운 전환 효과 transition: all 1s로 대체가능*/
    color: #000;
    /* 기본 글자색 설정 */
    text-decoration: none;
    /* 밑줄 제거 */
}

/* 마우스를 올렸을 때 스타일 변경 */
.menu li a:hover {
    width: 450px;
    /* 너비 증가 */
    color: #c00;
    /* 글자색 변경 */
}