* {
    margin: 0;
    padding: 0;
}

.main {
    margin: auto auto;
    width: 700px;
    height: 700px;
    position: absolute;
    left: 200px;
    top: 100px;
    background-color: #ffbfbf;
}
.box1{
    box-sizing: border-box;
    width: 700px;
    height: 700px;
    background-color: #3ec5f1;
    border-radius: 100%;
    position: absolute;
    border: 5px solid#000000;
}

.box2{
    box-sizing: border-box;
    border: 3px solid#000000;
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 100%;
    position: relative;
    left: 150px;
    top:270px
    
}
.box3{
    box-sizing: border-box;
    border: 3px solid#000000;
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 100%;
    position: relative;
    left: 500px;
    top:240px
}
.box4{
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 100%;
    position: relative;
    left: 325px;
    top:360px;
    border: 3px solid#000000;
    z-index: 3;
}
.box5{
    box-sizing: border-box;
    width: 75px;
    height: 95px;
    transform: rotate(50deg);
    border: 3px solid #333;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    position: relative;
    left: 280px;
    top:325px
}
.box6{
    width: 67px;
    height: 90px;
    transform: rotate(-50deg);
    border: 3px solid #333;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    position: relative;
    left: 350px;
    top:230px
}
.line {
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: black;
    top: 50px;
    left: 20px;}
.box_1{
    position: absolute;
    top: 395px;
    left: 405px;
    transform: rotate(15deg);
}

.box_2{
    position: absolute;
    top: 570px;
    left: 330px;
    transform: rotate(175deg)
}
.line1 {
    transform: rotate(-15deg);
}

.line2 {
    top: 85px;

}

.line3 {
    top: 120px;
    transform: rotate(15deg);
}
